:root{
    --board-size: 20vw;
}
body{
    background-color: #fff;
}
#board{
    justify-content: center;
    position: relative;
    width: var(--board-size);
    aspect-ratio: 1;
    margin: auto;
    margin-top: 15%;
}
#playArea{
    /* position: absolute;
    left: calc(var(--board-size) * 1.17);
    top: calc(var(--board-size) * .3); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: calc(var(--board-size) * .05 );
    aspect-ratio: 1;
    max-width: var(--board-size);
}
.box{
    aspect-ratio: 1;
    width: calc(var(--board-size) * .3);
    padding: 0;
    background-color: transparent;
    border: none;
}
.box:hover{
    background-color: lightgray;
}
.box:hover:disabled{
    background-color: transparent;
}
img{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    user-select: none;
}

/* lines to make the board */
.line{
    width: calc(var(--board-size) * 1.15);
    position: absolute;
}
.line.h{
    left: -10%;
}
.line.v{
    transform: rotate(90deg);
    top: 45%;
}
#left{
    left: -25%;
}
#right{
    left: 10%;
}
#top{
    top: 28%;
}
#bottom{
    top: 60%;
}
.win{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: rgb(175, 227, 247);
    border: 8px solid skyblue;
    border-radius: 1.75vw;
    width: calc(var(--board-size) * 1.25);
    height: calc(var(--board-size) * .75);
    margin-left: -12.5vw;
    margin-top: 17.5%;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 10;
}
.inner{
    background-color: rgb(175, 227, 247);
    border: 8px solid skyblue;
    border-radius: 1.5vw;
    width: 98%;
    height: 96%;
    margin: auto;
    box-sizing: border-box;
    margin-top: 1%;
}
.show{
    opacity: 100%;
    transition: .4s;
}

/* phone */
@media (max-width:1200px){
    :root{
        --board-size: 40vw;
    }
    .win{
        margin-left: -25vw;
    }
}
/* phone */
@media (max-width:480px){
    :root{
        --board-size: 80vw;
    }
    body{
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }
    #board{
        margin: auto;
        margin-top: 30%;
    }
    .win{
        position: unset;
        margin: 0;
        margin-top: 10%;
    }
}